.header__email {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: auto 24px auto 0;
    visibility: visible;
}

@media screen and (max-width: 530px) {
    .header__email {
        visibility: hidden;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 40px;
    }
}