.image-modal__exit {
    background-image: url('../../../images/Close-Icon.svg');
    height: 40px;
    width: 40px;
    background-position: center;
    position: absolute;
    top: -36px;
    right: -38px;
    outline: none;
    border: none;
    background-color: transparent;
    z-index: 5;
}

.image-modal__exit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 530px) {
    .image-modal__exit {
        top: -30%;
        right: 45%;
    }
}

@media screen and (max-width: 400px) {
    .image-modal__exit {
        top: -30%;
        right: 42%;
    }
}