@import url('./__image/info-tooltip__image.css');
@import url('./__message/info-tooltip__message.css');

.info-tooltip {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .6s, opacity 0.5s linear;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    z-index: 2;
}